/*Estilo del index*/
/*Index*/
/*Header*/
.bg-light {
  background-color: black !important;
}
.bg-light .logo_header {
  height: 9vh;
}
.bg-light .navbar-toggler-icon {
  width: 33px;
  height: 33px;
  background-color: #CA054D;
  border: 1px solid #CA054D;
  border-radius: 5px;
}
.bg-light .nav-link.active {
  color: white !important;
  font-family: "Courier New", Courier, monospace;
  background-color: black;
}
.bg-light .nav-link.active:hover {
  color: #CA054D !important;
}

/*------*/
/*Contenido=main*/
main {
  /* Bloque de cuidado de la piel */
  /* Bloque de datos  */
  /* Bloque quienes somos */
  /* Bloque productos */
}
main .bloque_cuidado_piel {
  display: flex;
  flex-direction: column;
}
main .bloque_cuidado_piel .texto_bloque_cuidado_piel {
  border: 1px #d4c9cd solid;
  border-radius: 12px;
  padding: 2px;
  background-color: #d4c9cd;
}
main .bloque_cuidado_piel .lista_cuidado_piel {
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}
main .bloque_cuidado_piel .lista_cuidado_piel li p {
  border: 1px #d4c9cd solid;
  border-radius: 12px;
  background-color: #d4c9cd;
}
main .bloque_datos {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
main .bloque_datos .dato {
  margin: 10px 0px 10px 0px;
}
main .bloque_datos .dato:hover {
  box-shadow: 11px 15px 5px 0px rgba(0, 0, 0, 0.16);
}
main .bloque_quienes_somos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .bloque_quienes_somos .link_quienes_somos {
  text-decoration: none;
  color: white;
  background-color: #CA054D;
  border: 1px #CA054D solid;
  border-radius: 10px;
  padding: 5px;
}
main .bloque_quienes_somos .link_quienes_somos:hover {
  color: black;
  transform: scale(1.1);
  transition: 0.3s;
}
main .bloque_quienes_somos img {
  padding: 0px;
}
main .bloque_quienes_somos img:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
main .bloque_productos {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to bottom, #CA054D, #ff006c);
  border-radius: 10px;
}
main .bloque_productos .titulo_productos {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: 5px;
  color: white;
  font-size: 30px;
}
main .bloque_productos div {
  margin: 10px 0px 10px 0px;
}
main .bloque_productos div .card_producto .link_producto {
  background-color: #CA054D;
  border-color: #CA054D;
}
main .bloque_productos div .card_producto .link_producto:hover {
  border-color: #CA054D;
  background-color: #CA054D;
  color: black;
  transform: scale(1.1);
  transition: 0.3s;
}
main .bloque_productos div .card_producto .link_producto:focus {
  border-color: #CA054D;
  background-color: #CA054D;
}
main .bloque_productos div .card_producto:hover {
  box-shadow: 10px 15px 5px 0px rgba(0, 0, 0, 0.39);
}

/* Footer */
.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}
.footer .logo_footer {
  margin: 5px 0px;
  width: 50px;
  height: 50px;
}
.footer ul {
  margin: 5px 0px;
  padding: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.footer ul li {
  margin: 0px 10px;
}
.footer ul li .logo_red_social {
  width: 35px;
  height: 40px;
}
.footer ul li .link_volver_arriba {
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
  color: white;
  border: 1px white solid;
  padding: 5px;
}
.footer ul li .link_volver_arriba:hover {
  border-color: #CA054D;
  color: #CA054D;
}
.footer p {
  color: white;
}

/* MediaQuerys */
/* Estrategia : Mobile First */
/* Dispositivos medianos (desktop) */
@media (min-width: 768px) {
  /*Header*/
  header .navbar-collapse {
    justify-content: flex-end;
  }
  /* Bloque cuidado de la piel */
  .bloque_cuidado_piel .lista_cuidado_piel {
    flex-direction: row !important;
    flex-wrap: nowrap;
  }
  .bloque_cuidado_piel .lista_cuidado_piel li {
    text-align: center;
    width: 25%;
    height: 360px;
  }
  .bloque_cuidado_piel .lista_cuidado_piel li h2 {
    margin: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 85px;
  }
  .bloque_cuidado_piel .lista_cuidado_piel li p {
    padding: 3px;
    display: flex;
    height: 240px;
    align-items: center;
  }
  /* Bloque de datos  */
  .bloque_datos {
    flex-direction: row !important;
    justify-content: space-between;
  }
  .bloque_datos .dato {
    margin: 10px !important;
  }
  /* Bloque quienes somos */
  .bloque_quienes_somos {
    flex-direction: row !important;
    justify-content: space-between;
  }
  .bloque_quienes_somos .card {
    margin: 10px;
    width: 40%;
    height: 43vh;
  }
  .bloque_quienes_somos .card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }
  .bloque_quienes_somos .card .card-body .link_quienes_somos {
    text-decoration: none;
    color: white;
    background-color: #CA054D;
    border: 1px #CA054D solid;
    border-radius: 10px;
    padding: 5px;
  }
  .bloque_quienes_somos img {
    margin: 10px;
    width: 50%;
    height: 43vh;
  }
  /* Bloque productos */
  .cards_productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .cards_productos div {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }
  .cards_productos div img {
    height: 30vh;
  }
  .cards_productos div div {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }
}
/*Estilo de nosotros*/
/* NOSOTROS */
/*Contenido*/
/*Bloques nosotros*/
.bloque_1_nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  background-image: linear-gradient(to bottom, #CA054D, #ff006c);
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 10px;
}
.bloque_1_nosotros .nosotros_card {
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.bloque_1_nosotros .nosotros_card:hover {
  box-shadow: 10px 15px 5px 0px rgba(0, 0, 0, 0.39);
}
.bloque_1_nosotros .nosotros_card div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.bloque_1_nosotros img {
  padding: 0px;
}
.bloque_1_nosotros img:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.bloque_2_nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  background-image: linear-gradient(to bottom, #CA054D, #ff006c);
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 10px;
}
.bloque_2_nosotros .nosotros_card {
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.bloque_2_nosotros .nosotros_card:hover {
  box-shadow: 10px 15px 5px 0px rgba(0, 0, 0, 0.39);
}
.bloque_2_nosotros .nosotros_card div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.bloque_2_nosotros img {
  padding: 0px;
}
.bloque_2_nosotros img:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

/* Bloque Fundadoras */
.bloque_fundadoras {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bloque_fundadoras .titulo_fundadoras {
  font-family: "Courier New", Courier, monospace;
  font-size: 8vh;
}
.bloque_fundadoras .fundadora {
  margin-top: 10px;
}
.bloque_fundadoras .fundadora:hover {
  box-shadow: 10px 15px 5px 0px rgba(0, 0, 0, 0.39);
}

/* MediaQuerys */
/* Estrategia : Mobile First */
/* Dispositivos medianos (desktop) */
@media (min-width: 768px) {
  /*Bloques nosotros*/
  .bloque_1_nosotros {
    flex-direction: row;
    justify-content: space-between;
  }
  .bloque_1_nosotros .nosotros_card {
    margin: 10px;
    width: 40%;
    height: 45vh;
  }
  .bloque_1_nosotros img {
    width: 50%;
    height: 45vh;
    margin: 10px;
  }
  .bloque_2_nosotros {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .bloque_2_nosotros .nosotros_card {
    margin: 10px;
    width: 40%;
    height: 45vh;
  }
  .bloque_2_nosotros img {
    width: 50%;
    height: 45vh;
    margin: 10px;
  }
  /* Bloque Fundadoras */
  .bloque_fundadoras .cards_fundadoras {
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: space-between;
  }
  .bloque_fundadoras .cards_fundadoras .fundadora {
    width: 40%;
  }
}
/* Dispositivos grandes (desktop) */
@media (min-width: 1024px) {
  /*Bloques nosotros*/
  .bloque_1_nosotros {
    justify-content: space-around;
  }
  .bloque_1_nosotros .nosotros_card {
    width: 35%;
    height: 30vh;
  }
  .bloque_1_nosotros img {
    width: 45%;
    height: 30vh;
  }
  .bloque_2_nosotros {
    justify-content: space-around;
  }
  .bloque_2_nosotros .nosotros_card {
    width: 35%;
    height: 30vh;
  }
  .bloque_2_nosotros img {
    width: 45%;
    height: 30vh;
  }
}/*# sourceMappingURL=main.css.map */