@charset "UTF-8";
/*Estilos de Wow Make Up*/
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Qwitcher+Grypen&display=swap");
.Nosotros-2, .Nosotros-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  background-image: linear-gradient(to bottom, #CA054D, #ff006c);
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 10px;
}

.Nosotros-2__card, .Nosotros-1__card {
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Formulario div .boton:hover, .Marcas img:hover, .Contenedor-Productos .Productos__card .link_producto:hover, .Nosotros-2 img:hover, .Nosotros-1 img:hover, main .Ofertas div .Ofertas__producto .Ofertas__link:hover, main .Quienes-Somos img:hover, main .Quienes-Somos__link:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

/*Estilo del index*/
/*Index*/
/*Header*/
.header .bg-light {
  background-color: black !important;
}
.header .bg-light .header__logo {
  height: 9vh;
}
.header .bg-light .navbar-toggler-icon {
  width: 33px;
  height: 33px;
  background-color: #CA054D;
  border: 1px solid #CA054D;
  border-radius: 5px;
}
.header .bg-light .nav-link.active {
  color: white !important;
  font-family: "Courier New", Courier, monospace;
  background-color: black;
}
.header .bg-light .nav-link.active:hover {
  color: #CA054D !important;
}

/*------*/
/*Contenido=main*/
main {
  /* Bloque de cuidado de la piel */
  /* Bloque de datos  */
  /* Bloque quienes somos */
  /* Bloque productos */
}
main .Cuidado-Piel {
  display: flex;
  flex-direction: column;
}
main .Cuidado-Piel__texto {
  border: 1px #d4c9cd solid;
  border-radius: 12px;
  padding: 2px;
  background-color: #d4c9cd;
  font-family: "Kalam", cursive;
}
main .Cuidado-Piel__lista {
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}
main .Cuidado-Piel__lista li p {
  border: 1px #d4c9cd solid;
  border-radius: 12px;
  background-color: #d4c9cd;
  font-family: "Kalam", cursive;
}
main .Cuidado-Piel__lista li h2 {
  font-family: "Qwitcher Grypen", cursive;
  font-size: 43px;
}
main .Datos {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
main .Datos__card {
  margin: 10px 0px 10px 0px;
}
main .Datos__card:hover {
  box-shadow: 11px 15px 5px 0px rgba(0, 0, 0, 0.16);
}
main .Quienes-Somos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .Quienes-Somos__link {
  text-decoration: none;
  color: white;
  background-color: #CA054D;
  border: 1px #CA054D solid;
  border-radius: 10px;
  padding: 5px;
}
main .Quienes-Somos__link:hover {
  color: black;
}
main .Quienes-Somos img {
  padding: 0px;
}
main .Ofertas {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to bottom, #CA054D, #ff006c);
  border-radius: 10px;
}
main .Ofertas__titulo {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: 5px;
  color: white;
  font-size: 30px;
}
main .Ofertas div {
  margin: 10px 0px 10px 0px;
}
main .Ofertas div .Ofertas__producto .Ofertas__link {
  background-color: #CA054D;
  border-color: #CA054D;
}
main .Ofertas div .Ofertas__producto .Ofertas__link:hover {
  background-color: #CA054D;
  border-color: #CA054D;
  color: black;
}
main .Ofertas div .Ofertas__producto .Ofertas__link:focus {
  background-color: #CA054D;
  border-color: #CA054D;
}
main .Ofertas div .Ofertas__producto:hover {
  box-shadow: 10px 15px 5px 0px rgba(0, 0, 0, 0.39);
}

/* Footer */
.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}
.footer__logo {
  margin: 5px 0px;
  width: 50px;
  height: 50px;
}
.footer ul {
  margin: 5px 0px;
  padding: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.footer ul li {
  margin: 0px 10px;
}
.footer ul li .logo_red_social {
  width: 35px;
  height: 40px;
}
.footer ul li .link_volver_arriba {
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
  color: white;
  border: 1px white solid;
  padding: 5px;
}
.footer ul li .link_volver_arriba:hover {
  border-color: #CA054D;
  color: #CA054D;
}
.footer p {
  color: white;
}

/* MediaQuerys */
/* Estrategia : Mobile First */
/* Dispositivos medianos (desktop) */
@media (min-width: 768px) {
  /*Header*/
  .header .navbar-collapse {
    justify-content: flex-end;
  }
  /* Bloque cuidado de la piel */
  .Cuidado-Piel__lista {
    flex-direction: row !important;
    flex-wrap: nowrap;
  }
  .Cuidado-Piel__lista li {
    text-align: center;
    width: 25%;
    height: 360px;
  }
  .Cuidado-Piel__lista li h2 {
    margin: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 85px;
    font-size: 55px;
  }
  .Cuidado-Piel__lista li p {
    padding: 3px;
    display: flex;
    height: 240px;
    align-items: center;
  }
  /* Bloque de datos  */
  .Datos {
    flex-direction: row !important;
    justify-content: space-between;
  }
  .Datos__card {
    margin: 10px !important;
  }
  /* Bloque quienes somos */
  .Quienes-Somos {
    flex-direction: row !important;
    justify-content: space-between;
  }
  .Quienes-Somos .card {
    margin: 10px;
    width: 40%;
    height: 43vh;
  }
  .Quienes-Somos .card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }
  .Quienes-Somos img {
    margin: 10px;
    width: 50%;
    height: 43vh;
  }
  /* Bloque productos */
  .Ofertas__productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .Ofertas__productos div {
    margin: 10px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }
  .Ofertas__productos div img {
    height: 30vh;
  }
  .Ofertas__productos div div {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }
}
/*Estilo de nosotros*/
/* NOSOTROS */
/*Contenido*/
/*Bloques nosotros*/
.Nosotros-1__card:hover {
  box-shadow: 10px 15px 5px 0px rgba(0, 0, 0, 0.39);
}
.Nosotros-1__card div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.Nosotros-1__card div h5 {
  font-family: "Qwitcher Grypen", cursive;
  font-size: 45px;
}
.Nosotros-1 img {
  padding: 0px;
}
.Nosotros-2__card:hover {
  box-shadow: 10px 15px 5px 0px rgba(0, 0, 0, 0.39);
}
.Nosotros-2__card div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.Nosotros-2__card div h5 {
  font-family: "Qwitcher Grypen", cursive;
  font-size: 45px;
}
.Nosotros-2 img {
  padding: 0px;
}
/* Bloque Fundadoras */
.Fundadoras {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Fundadoras__titulo {
  font-family: "Courier New", Courier, monospace;
  font-size: 8vh;
}
.Fundadoras__card {
  margin-top: 10px;
}
.Fundadoras__card:hover {
  box-shadow: 10px 15px 5px 0px rgba(0, 0, 0, 0.39);
}

/* MediaQuerys */
/* Estrategia : Mobile First */
/* Dispositivos medianos (desktop) */
@media (min-width: 768px) {
  /*Bloques nosotros*/
  .Nosotros-1 {
    flex-direction: row;
    justify-content: space-between;
  }
  .Nosotros-1__card {
    margin: 10px;
    width: 40%;
    height: 45vh;
  }
  .Nosotros-1 img {
    width: 50%;
    height: 45vh;
    margin: 10px;
  }
  .Nosotros-2 {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .Nosotros-2__card {
    margin: 10px;
    width: 40%;
    height: 45vh;
  }
  .Nosotros-2 img {
    width: 50%;
    height: 45vh;
    margin: 10px;
  }
  /* Bloque Fundadoras */
  .Fundadoras__cards {
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: space-between;
  }
  .Fundadoras__cards .Fundadoras__card {
    width: 40%;
  }
}
/* Dispositivos grandes (desktop) */
@media (min-width: 1024px) {
  /*Bloques nosotros*/
  .Nosotros-1 {
    justify-content: space-around;
  }
  .Nosotros-1__card {
    width: 35%;
    height: 30vh;
  }
  .Nosotros-1 img {
    width: 45%;
    height: 30vh;
  }
  .Nosotros-2 {
    justify-content: space-around;
  }
  .Nosotros-2__card {
    width: 35%;
    height: 30vh;
  }
  .Nosotros-2 img {
    width: 45%;
    height: 30vh;
  }
}
/*Estilo de productos*/
/* Productos */
.Contenedor-Productos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Contenedor-Productos .Producto-Filtro {
  padding: 2%;
  width: 80%;
  text-align: center;
  border: 1px whitesmoke solid;
  border-radius: 12px;
  background-color: whitesmoke;
}
.Contenedor-Productos .Producto-Filtro__titulo {
  font-family: "Courier New", Courier, monospace;
  font-size: 4vh;
}
.Contenedor-Productos .Producto-Filtro__filtros {
  display: flex;
  justify-content: space-evenly;
}
.Contenedor-Productos .Producto-Filtro__filtros button {
  background-color: #CA054D;
  border: 1px #CA054D solid;
  color: white;
}
.Contenedor-Productos .Producto-Filtro__filtros button:hover {
  background-color: #CA054D;
  border: 1px #CA054D solid;
}
.Contenedor-Productos .Producto-Filtro__filtros button:focus {
  background-color: #CA054D;
  border: 1px #CA054D solid;
}
.Contenedor-Productos .Filtro-Barra {
  display: none;
}
.Contenedor-Productos .Productos {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Contenedor-Productos .Productos__card {
  width: 70%;
  margin: 10px;
}
.Contenedor-Productos .Productos__card:hover {
  box-shadow: 10px 15px 5px 0px rgba(0, 0, 0, 0.39);
}
.Contenedor-Productos .Productos__card .link_producto {
  background-color: #CA054D;
  border-color: #CA054D;
}
.Contenedor-Productos .Productos__card .link_producto:hover {
  background-color: #CA054D;
  border-color: #CA054D;
  color: black;
}
.Contenedor-Productos .Productos__card .link_producto:focus {
  background-color: #CA054D;
  border-color: #CA054D;
}
.Contenedor-Productos .Productos__card .link_producto:active {
  box-shadow: none;
}

/* MediaQuerys */
/* Estrategia : Mobile First */
/* Dispositivos medianos (desktop) */
@media (min-width: 768px) {
  /* Productos */
  .Contenedor-Productos {
    flex-direction: row;
    align-items: flex-start;
  }
  .Contenedor-Productos .Producto-Filtro {
    display: none;
  }
  .Contenedor-Productos .Filtro-Barra {
    display: flex;
    flex-direction: column;
    margin: 10px 0px 0px 1rem;
    background-color: whitesmoke;
    border-radius: 10px;
    width: 21rem;
    height: 100%;
    padding: 2%;
  }
  .Contenedor-Productos .Filtro-Barra h5 {
    font-size: 150%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: #CA054D;
  }
  .Contenedor-Productos .Filtro-Barra ul {
    list-style: none;
    margin: 10px 0px 5px 0px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .Contenedor-Productos .Filtro-Barra ul li {
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .Contenedor-Productos .Filtro-Barra ul li a {
    text-decoration: none;
    color: rgb(51, 49, 49);
  }
  .Contenedor-Productos .Productos {
    margin-top: 0px;
    width: 60%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  .Contenedor-Productos .Productos__card {
    width: 15rem;
    height: 28rem;
  }
  .Contenedor-Productos .Productos__card div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}
/*Estilo de marcas*/
/* Marcas */
.titulo_marcas {
  text-decoration: underline;
  font-size: 8vh;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.Marcas {
  background-image: linear-gradient(to bottom, #35ca74, #22a884);
  border-radius: 12px;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Marcas img {
  width: 85%;
  height: 45vh;
  background-color: white;
  border-radius: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.Marcas img:hover {
  box-shadow: 10px 15px 5px 0px rgba(0, 0, 0, 0.39);
}

/*Reseñas*/
.Reseñas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.Reseñas iframe {
  width: 90%;
  height: 40vh;
  margin: 10px 0px;
  border-radius: 10px;
}

/* MediaQuerys */
/* Estrategia : Mobile First */
/* Dispositivos medianos (desktop) */
@media (min-width: 768px) {
  /* Marcas */
  .titulo_marcas {
    font-size: 6vh;
  }
  .Marcas {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .Marcas img {
    width: 35%;
    height: 40vh;
  }
  /*Reseñas*/
  .Reseñas iframe {
    width: 40%;
  }
}
/*Estilo de contacto*/
/* Contacto */
.Formulario {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Formulario h3 {
  text-decoration: underline;
  font-size: 7vh;
  font-family: "Courier New", Courier, monospace;
}
.Formulario div {
  text-align: center;
  border: 1px #22a884 solid;
  border-radius: 10px;
  width: 90%;
  padding: 2%;
}
.Formulario div .caja_texto {
  width: 80%;
  height: 30px;
  margin: 5px;
}
.Formulario div .caja_texto:focus {
  border-radius: 5px;
  background-color: rgba(22, 219, 147, 0.2588235294);
  border: none;
}
.Formulario div .mensaje {
  height: 15vh;
}
.Formulario div .boton {
  border: 1px #22a884 solid;
  padding: 5px;
  background-image: linear-gradient(to bottom, #35ca74, #22a884);
  border-radius: 5px;
  color: white;
}
/* Ubicacion */
.Ubicacion {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Ubicacion h3 {
  text-decoration: underline;
  font-size: 7vh;
  font-family: "Courier New", Courier, monospace;
}
.Ubicacion div {
  background-image: linear-gradient(to bottom, #0a919e, #0045ff);
  border-radius: 10px;
  padding: 3% 0px;
  text-align: center;
}
.Ubicacion div iframe {
  width: 95%;
  height: 50vh;
  border-radius: 12px;
}

/* MediaQuerys */
/* Estrategia : Mobile First */
/* Dispositivos medianos (desktop) */
@media (min-width: 768px) {
  /* Contacto */
  .Formulario div {
    width: 75%;
  }
  /* Ubicacion */
  .Ubicacion div {
    width: 75%;
  }
  .Ubicacion div iframe {
    width: 85%;
    height: 50vh;
    border-radius: 12px;
  }
}/*# sourceMappingURL=main.css.map */