
$fondo-gradiente-rojo: linear-gradient(to bottom, #CA054D, #ff006c);
$fondo-gradiente-verde: linear-gradient(to bottom, #35ca74, #22a884);
$fondo-gradiente-azul:  linear-gradient(to bottom, #0a919e, #0045ff);
$color-principal:  #CA054D ;
$verde-claro: #22a884;
$verde-transparente: #16db9342;