/* Contacto */

.Formulario {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    h3 {
        text-decoration: underline;
        font-size: 7vh;
        font-family: 'Courier New', Courier, monospace;
        margin-bottom: 20px;
    }

    div {
        text-align: center;
        border: 1px $verde-claro solid;
        border-radius: 10px;
        width: 90%;
        padding: 2%;

        .caja_texto {
            width: 80%;
            height: 30px;
            margin: 5px;

            &:focus {
                border-radius: 5px;
                background-color: $verde-transparente ;
                border: none;
            }
        }

        .mensaje {
            height: 15vh;
        }

        .boton {
            border: 1px $verde-claro solid;
            padding: 5px;
            background-image: $fondo-gradiente-verde ;
            border-radius: 5px;
            color: white;

            &:hover {
                @extend %animacion-escala;
            }
        }
    }
}

/* Ubicacion */

.Ubicacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;

    h3 {
        text-decoration: underline;
        font-size: 7vh;
        font-family: 'Courier New', Courier, monospace;
        margin-bottom: 20px;
    }

    div {
        background-image: $fondo-gradiente-azul ;
        border-radius: 10px;
        padding: 3% 0px;
        text-align: center;

        iframe {
            width: 95%;
            height: 50vh;
            border-radius: 12px;
        }
    }
}

/* MediaQuerys */
/* Estrategia : Mobile First */

/* Dispositivos medianos (desktop) */
@media(min-width: 768px) {
    /* Contacto */

    .Formulario {
        div {
            width: 75%;
        }
    }

    /* Ubicacion */

    .Ubicacion {
        div {
            width: 75%;
            padding-top: 10px;
            padding-bottom: 10px;

            iframe {
                height: 50vh;
                border-radius: 12px;
            }
        }
    }
}