/*Index*/
/*Header*/
.header {
    .bg-light {
        background-color: black !important;

        .header__logo {
            height: 9vh;
        }

        .navbar-toggler-icon {
            width: 33px;
            height: 33px;
            background-color: $color-principal;
            border: 1px solid $color-principal;
            border-radius: 5px;
        }

        .nav-link.active {
            color: white !important;
            font-family: 'Courier New', Courier, monospace;
            background-color: black;

            &:hover {
                color: $color-principal !important;
            }
        }
    }
}


/*------*/

/*Contenido=main*/
main {

    /* Bloque de cuidado de la piel */
    .Cuidado-Piel {
        display: flex;
        flex-direction: column;

        &__texto {
            border: 1px #d4c9cd solid;
            border-radius: 12px;
            padding: 2px;
            background-color: #d4c9cd;
            font-family: $letra-contenido;
        }

        &__lista {
            padding: 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            list-style: none;

            li p {
                border: 1px #d4c9cd solid;
                border-radius: 12px;
                background-color: #d4c9cd;
                font-family: $letra-contenido;
            }
            li h2{
                font-family: $cursiva-especial;
                font-size: 43px;
            }
        }
    }

    /* Bloque de datos  */
    .Datos {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;

        &__card {
            margin: 10px 0px 10px 0px;

            &:hover {
                box-shadow: 11px 15px 5px 0px rgb(0 0 0 / 16%);
            }
        }
    }

    /* Bloque quienes somos */
    .Quienes-Somos {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__link {
            text-decoration: none;
            color: white;
            background-color: $color-principal;
            border: 1px $color-principal solid;
            border-radius: 10px;
            padding: 5px;

            &:hover {
                color: black;
                @extend %animacion-escala;
            }
        }

        img {
            padding: 0px;

            &:hover {
                @extend %animacion-escala;
            }
        }
    }

    /* Bloque productos */
    .Ofertas {
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: $fondo-gradiente-rojo;
        border-radius: 10px;

        &__titulo {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            margin-top: 5px;
            color: white;
            font-size: 30px;
        }

        div {
            margin: 10px 0px 10px 0px;

            .Ofertas__producto {
                .Ofertas__link {
                    @include estilo-link ($color-principal);

                    &:hover {
                        @include estilo-link ($color-principal);  
                        color: black;
                        @extend %animacion-escala;
                    }

                    &:focus {
                        @include estilo-link ($color-principal);
                    }
                }

                &:hover {
                    box-shadow: 10px 15px 5px 0px rgba(0, 0, 0, 0.39);
                }
            }

        }
    }
}

/* Footer */
.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;

    &__logo {
        margin: 5px 0px;
        width: 50px;
        height: 50px;
    }

    ul {
        margin: 5px 0px;
        padding: 0px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;

        li {
            margin: 0px 10px;

            .logo_red_social {
                width: 35px;
                height: 40px;
            }

            .link_volver_arriba {
                font-family: 'Courier New', Courier, monospace;
                text-decoration: none;
                color: white;
                border: 1px white solid;
                padding: 5px;

                &:hover {
                    border-color: $color-principal ;
                    color:$color-principal ;
                }
            }
        }
    }

    p {
        color: white;
    }
}

/* MediaQuerys */
/* Estrategia : Mobile First */

/* Dispositivos medianos (desktop) */
@media(min-width: 768px) {

    /*Header*/
    .header {
        .navbar-collapse {
            justify-content: flex-end;
        }
    }

    /* Bloque cuidado de la piel */
    .Cuidado-Piel {

        &__lista {
            flex-direction: row !important;
            flex-wrap: nowrap;

            li {
                text-align: center;
                width: 25%;
                height: 360px;

                h2 {
                    margin: 0px;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    height: 85px;
                    font-size: 55px;
                }

                p {
                    padding: 3px;
                    display: flex;
                    height: 240px;
                    align-items: center;
                }
            }
        }
    }

    /* Bloque de datos  */
    .Datos {
        flex-direction: row !important;
        justify-content: space-between;

        &__card {
            margin: 10px !important;
        }
    }

    /* Bloque quienes somos */
    .Quienes-Somos {
        flex-direction: row !important;
        justify-content: space-between;

        .card {
            margin: 10px;
            width: 40%;
            height: 43vh;

            .card-body {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-start;
            }
        }

        img {
            margin: 10px;
            width: 50%;
            height: 43vh;
        }
    }

    /* Bloque productos */
    .Ofertas__productos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

        div {
            margin: 10px !important;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;

            img {
                height: 30vh;
            }

            div {
                margin: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-start;
            }
        }
    }
}