/* Marcas */

.titulo_marcas {
    text-decoration: underline;
    font-size: 8vh;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.Marcas {
    background-image: $fondo-gradiente-verde ;
    border-radius: 12px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 85%;
        height: 45vh;
        background-color: white;
        border-radius: 12px;
        margin-top: 10px;
        margin-bottom: 10px;

        &:hover {
            @extend %animacion-escala;
            box-shadow: 10px 15px 5px 0px rgba(0, 0, 0, 0.39);
        }
    }
}

/*Reseñas*/

.Reseñas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    iframe {
        width: 90%;
        height: 40vh;
        margin: 10px 0px;
        border-radius: 10px;
    }
}


/* MediaQuerys */
/* Estrategia : Mobile First */

/* Dispositivos medianos (desktop) */
@media(min-width: 768px) {
    /* Marcas */

    .titulo_marcas {
        font-size: 6vh;
    }

    .Marcas {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

        img {
            width: 35%;
            height: 40vh;
        }
    }

    /*Reseñas*/

    .Reseñas {
        iframe {
            width: 40%;
        }
    }
}