/* NOSOTROS */

/*Contenido*/

/*Bloques nosotros*/
.Nosotros-1 {
    @extend %estilo-nosotros;

    &__card {
        @extend %estilo-nosotros-card;

        &:hover {
            box-shadow: 10px 15px 5px 0px rgba(0, 0, 0, 0.39);
        }

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            h5 {
                font-family: $cursiva-especial;
                font-size: 45px;
            }
        }

    }

    img {
        padding: 0px;

        &:hover {
            @extend %animacion-escala;
        }
    }
}

.Nosotros-2 {
    @extend %estilo-nosotros;

    &__card {
        @extend %estilo-nosotros-card;

        &:hover {
            box-shadow: 10px 15px 5px 0px rgba(0, 0, 0, 0.39);
        }

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            h5 {
                font-family: $cursiva-especial;
                font-size: 45px;
            }
        }

    }

    img {
        padding: 0px;

        &:hover {
            @extend %animacion-escala;
        }
    }
}

/* Bloque Fundadoras */
.Fundadoras {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__titulo {
        font-family: 'Courier New', Courier, monospace;
        font-size: 8vh;
    }

    &__card {
        margin-top: 10px;

        &:hover {
            box-shadow: 10px 15px 5px 0px rgba(0, 0, 0, 0.39);
        }
    }
}

/* MediaQuerys */
/* Estrategia : Mobile First */

/* Dispositivos medianos (desktop) */
@media(min-width: 768px) {

    /*Bloques nosotros*/
    .Nosotros-1 {
        flex-direction: row;
        justify-content: space-between;

        &__card {
            margin: 10px;
            width: 40%;
            height: 45vh;
        }

        img {
            width: 50%;
            height: 45vh;
            margin: 10px;
        }
    }

    .Nosotros-2 {
        flex-direction: row-reverse;
        justify-content: space-between;

        &__card {
            margin: 10px;
            width: 40%;
            height: 45vh;
        }

        img {
            width: 50%;
            height: 45vh;
            margin: 10px;
        }
    }

    /* Bloque Fundadoras */
    .Fundadoras {

        &__cards {
            display: flex;
            flex-direction: row;
            margin: 10px;
            justify-content: space-between;

            .Fundadoras__card {
                width: 40%
            }
        }

    }
}

/* Dispositivos grandes (desktop) */
@media(min-width: 1024px) {

    /*Bloques nosotros*/
    .Nosotros-1 {
        justify-content: space-around;

        &__card {
            width: 35%;
            height: 30vh;
        }

        img {
            width: 45%;
            height: 30vh;
        }
    }

    .Nosotros-2 {
        justify-content: space-around;

        &__card {
            width: 35%;
            height: 30vh;
        }

        img {
            width: 45%;
            height: 30vh;
        }
    }
}