/* NOSOTROS */

/*Contenido*/

/*Bloques nosotros*/
.bloque_1_nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    background-image: linear-gradient(to bottom, #CA054D, #ff006c);
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 10px;

    .nosotros_card {
        margin: 10px 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        &:hover {
            box-shadow: 10px 15px 5px 0px rgba(0, 0, 0, 0.39);
        }

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        }

    }

    img {
        padding: 0px;

        &:hover {
            transform: scale(1.05);
            transition: 0.3s;
        }
    }
}

.bloque_2_nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    background-image: linear-gradient(to bottom, #CA054D, #ff006c);
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 10px;

    .nosotros_card {
        margin: 10px 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        &:hover {
            box-shadow: 10px 15px 5px 0px rgba(0, 0, 0, 0.39);
        }

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        }

    }

    img {
        padding: 0px;

        &:hover {
            transform: scale(1.05);
            transition: 0.3s;
        }
    }
}

/* Bloque Fundadoras */
.bloque_fundadoras {
    display: flex;
    flex-direction: column;
    align-items: center;

    .titulo_fundadoras {
        font-family: 'Courier New', Courier, monospace;
        font-size: 8vh;
    }

    .fundadora {
        margin-top: 10px;

        &:hover {
            box-shadow: 10px 15px 5px 0px rgba(0, 0, 0, 0.39);
        }
    }
}

/* MediaQuerys */
/* Estrategia : Mobile First */

/* Dispositivos medianos (desktop) */
@media(min-width: 768px) {

    /*Bloques nosotros*/
    .bloque_1_nosotros {
        flex-direction: row;
        justify-content: space-between;

        .nosotros_card {
            margin: 10px;
            width: 40%;
            height: 45vh;
        }

        img {
            width: 50%;
            height: 45vh;
            margin: 10px;
        }
    }

    .bloque_2_nosotros {
        flex-direction: row-reverse;
        justify-content: space-between;

        .nosotros_card {
            margin: 10px;
            width: 40%;
            height: 45vh;
        }

        img {
            width: 50%;
            height: 45vh;
            margin: 10px;
        }
    }

    /* Bloque Fundadoras */
    .bloque_fundadoras {

        .cards_fundadoras {
            display: flex;
            flex-direction: row;
            margin: 10px;
            justify-content: space-between;

            .fundadora {
                width: 40%
            }
        }

    }
}

/* Dispositivos grandes (desktop) */
@media(min-width: 1024px) {

    /*Bloques nosotros*/
    .bloque_1_nosotros {
        justify-content: space-around;

        .nosotros_card {
            width: 35%;
            height: 30vh;
        }

        img {
            width: 45%;
            height: 30vh;
        }
    }

    .bloque_2_nosotros {
        justify-content: space-around;

        .nosotros_card {
            width: 35%;
            height: 30vh;
        }

        img {
            width: 45%;
            height: 30vh;
        }
    }
}