/* Productos */

.contenedor_productos {
    display: flex;
    flex-direction: column;
    align-items: center;

    .filtro_producto {
        padding: 2%;
        width: 80%;
        text-align: center;
        border: 1px whitesmoke solid;
        border-radius: 12px;
        background-color: whitesmoke;

        .titulo_filtro {
            font-family: 'Courier New', Courier, monospace;
            font-size: 4vh;
        }

        .filtro {
            display: flex;
            justify-content: space-evenly;

            button {
                background-color: #CA054D;
                border: 1px #CA054D solid;
                color: white;

                &:hover {
                    background-color: #CA054D;
                    border: 1px #CA054D solid;
                }

                &:focus {
                    background-color: #CA054D;
                    border: 1px #CA054D solid;
                }
            }
        }
    }

    .barra_filtro {
        display: none;
    }

    .productos {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .product_card {
            width: 70%;
            margin: 10px;

            &:hover {
                box-shadow: 10px 15px 5px 0px rgba(0, 0, 0, 0.39);
            }

            .link_producto {
                background-color: #CA054D;
                border-color: #CA054D;

                &:hover {
                    border-color: #CA054D;
                    background-color: #CA054D;
                    color: black;
                    transform: scale(1.1);
                    transition: 0.3s;
                }

                &:focus {
                    border-color: #CA054D;
                    background-color: #CA054D;
                }

                &:active{
                    box-shadow: none;
                }
            }
        }
    }
}

/* MediaQuerys */
/* Estrategia : Mobile First */

/* Dispositivos medianos (desktop) */
@media(min-width: 768px) {
    /* Productos */

    .contenedor_productos {
        flex-direction: row;
        align-items: flex-start;

        .filtro_producto {
            display: none;
        }

        .barra_filtro {
            display: flex;
            flex-direction: column;
            margin: 10px 0px 0px 1rem;
            background-color: whitesmoke;
            border-radius: 10px;
            width: 21rem;
            height: 100%;
            padding: 2%;

            h5 {
                font-size: 150%;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                color: #CA054D;
            }

            ul {
                list-style: none;
                margin: 10px 0px 5px 0px;
                padding: 0;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;

                li {
                    margin-top: 2%;
                    margin-bottom: 2%;

                    a {
                        text-decoration: none;
                        color: rgb(51, 49, 49);
                    }
                }
            }
        }

        .productos {
            margin-top: 0px;
            width: 60%;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;

            .product_card {
                width: 15rem;
                height: 28rem;

                div {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                }

            }
        }
    }
}